<?php
/**
 * WordPress database settings.
 */
define( 'DB_NAME', '{{ wordpress_database_name }}' );
define( 'DB_USER', '{{ wordpress_database_user }}' );
define( 'DB_PASSWORD', '{{ wordpress_database_password }}' );
define( 'DB_HOST', 'localhost' );
define( 'DB_CHARSET', 'utf8' );
define( 'DB_COLLATE', '' );
